input {
    width: 100%;
    padding: 12px 12px 12px 48px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: $oxford;
    border: 1px solid $oxford;
    border-radius: 2px;
    transition: 0.3s border-color;

    &::placeholder {
        font-weight: 600;
        color: $blue-haze;
    }

    &:focus {
        border-color: $dodger;
    }
}

select {
    padding: 0;
    margin: 0;
    font-family: $font;
    font-size: 13px;
    font-weight: 600;
    color: $blue-haze;
    background: $oxford url(/img/icons/caret-down.svg) right 12px center no-repeat;
    background-size: 10px 5px;
    border: none;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
        display: none;
    }
}

textarea {
    width: 100%;
    min-height: 96px;
    padding: 8px;
    font-size: 13px;
    color: $blue-haze;
    background-color: $oxford;
    border: 1px solid lighten($oxford, 10);
    border-radius: 2px;

    &::placeholder {
        color: $blue-haze;
    }

    @include respond-to(medium) {
        padding: 16px;
    }
}
