.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dashboard-table {
    display: table;
    width: 100vw;
    margin-top: 64px;
    border-collapse: collapse;
    background-color: $charade;
    box-shadow: 0 -16px 32px rgba(#000, 0.2);

    @include respond-to(medium) {
        margin-top: 128px;
    }

    tbody {
        border-bottom: 2px solid $storm;
    }

    th,
    td {
        height: 60px;
        font-size: 13px;
        font-weight: 600;
        vertical-align: middle;
    }

    th {
        color: $blue-haze;
        background-color: $oxford;

        &.round-average,
        &.round-number,
        &.round-winner {
            font-size: 13px;
            border-bottom: none;
        }
    }

    tr:last-child {
        td {
            border-bottom: 2px solid $storm;
        }
    }

    td {
        color: #fff;
        border-bottom: 1px solid $storm;
    }

    .round-average,
    .round-number {
        font-size: 40px;
    }

    .round-average,
    .round-number,
    .round-winner {
        width: 130px;
        text-align: center;
        border-bottom: 1px solid $oxford;
    }

    .round-winner {
        width: 172px;

        &-image {
            padding: 10px;
        }
    }

    .round-picker {
        td {
            text-align: center;
        }

        &-button {
            width: 100%;
            padding: 12px 0;
            font-weight: 600;
            color: #fff;
            background-color: $dodger;
            border-radius: 2px;
            transition: 0.3s background-color;

            &:hover {
                background-color: lighten($dodger, 5);
            }
        }
    }

    .round-average.pending {
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .round-incomplete {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 228px;
        line-height: 20px;
        color: $blue-haze;
        text-align: center;
        text-transform: uppercase;
        background-color: $oxford;
        border: 1px solid lighten($oxford, 10);
    }
}

.current {
    &-pick {
        &-movie {
            color: #fff;
        }

        &-inner {
            padding: 16px;

            @include respond-to(medium) {
                padding: 32px;
            }
        }

        &-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 16px;

            @include respond-to(medium) {
                flex-direction: row;
                align-items: normal;
            }
        }

        &-members {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include respond-to(medium) {
                flex-direction: row;
            }
        }

        &-member {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            padding: 16px;
            margin-bottom: 8px;
            font-size: 13px;
            font-weight: 600;
            color: #fff;
            pointer-events: none;
            background-color: $oxford;
            border-radius: 2px;
            transition: 0.3s background-color;

            @include respond-to(medium) {
                flex-basis: 24%;
                max-width: 24%;
                margin-bottom: 0;
            }

            &.active {
                pointer-events: all;
            }

            &:hover {
                background-color: lighten($oxford, 5);
            }

            .seen-icon {
                font-size: 18px;
                color: $dodger;
            }
        }

        &-rating {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 460px;

            &.active {
                display: flex;
            }

            &-title {
                margin-bottom: 8px;
                font-size: 20px;
                color: #fff;
                text-align: center;
            }

            &-subtitle {
                font-size: 12px;
                color: #fff;
                text-align: center;
            }

            &-inner {
                display: flex;
                justify-content: center;
            }
            
            &-form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;

                @include respond-to(medium) {
                    flex-direction: row;
                }

                .close {
                    margin: 16px 0 0 0;
                    background-color: $oxford;
                    transition: 0.3s background-color;

                    @include respond-to(medium) {
                        flex-direction: row;
                        margin: 0 0 0 16px;
                    }

                    &:hover {
                        background-color: lighten($oxford, 10);
                    }
                }
            }
        }
    }

    &-round {
        padding: 12px 0;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        background-color: $oxford;
        border-radius: 2px;
    }

    &-picker {
        color: $blue-haze;

        p {
            margin-bottom: 8px;
            font-size: 13px;
            font-weight: 600;

            &:last-child {
                margin-bottom: 16px;
            }
        }
    }

    &-deadline {
        display: block;
        margin-top: 4px;
        color: #fff;

        @include respond-to(medium) {
            display: inline;
        }
    }
}

.picker-film-info {
    display: none;
    padding: 0;
}

.success-subtitle {
    margin-bottom: 16px;
    font-family: 14px;
    font-weight: 600;
    color: #fff;
}
